^contentpage {
    background-color: gray;
}

#header {
    margin: 90;
    font-size: 25;
    font-weight: 900;
}

#entry {
    background-color: white;
    color: black;
}

#button1 {
    background-color: red;
    border-radius: 20;
    color:#ffffff;
}

#switch {

}
#button2 {
    background-color: #a49494;
    border-radius: 20;
    color: #000000;
}
#button3 {
    background-color: white;
    border-radius: 20;
    border-color: #f82222;
    border-width: 2;
    color: #000000;
}
#button4 {
    background-color: white;
    border-radius: 20;
    border-color: #f82222;
    border-width: 2;
    color: #f82222;
}
#button {
    margin-top: 30;
    background-color: red;
}

#else {
    color: black;
}

label {
    color: white;
    font-size: 18;
}

.LabelTextColor {
    color: black;
}
